<div class="container">
  <div class="chal-body">
    <%= render 'components/user_profile', user: @user %>
  </div>
</div>

<div class="chal-page-options">
  <%= link_to edit_user_detail_path(@user), :data => {turbolinks: false} do %>
      <i class="icon ion-compose" aria-hidden="true"></i>
  <% end %>
</div>
