<div class="card text-center chal-card chal-message-box">
  <div class="row">
    <div class="col">
      <a href="/conversations" class="nav-link">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <div class="chal-conversations-info-alarm">
          <span><%= current_user.unread_inbox_count %></span>
        </div>
      </a>
    </div>
  </div>
</div>
