<div class="user-nav-profile">
  <%= link_to profile_path do %>
      <div class="user-nav-photo">
        <%= image_tag "#{user.user_detail.pic1.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-card-image' %>
      </div>
  <% end %>
  <div class="user-nav-nickname">
    <span><%= user.user_detail.nickname %></span>
  </div>
</div>
