<div class="card chal-profile-card">
  <div class="carousel slide chal-carousel" id="carouselIndicators" data-ride="carousel">
    <ol class="carousel-indicators chal-carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"><%= image_tag "#{user.user_detail.pic1.url(:thumb)}", class: 'd-block img-fluid card-image-top chal-carousel-image' %></li>
      <li data-target="#carouselIndicators" data-slide-to="1"><%= image_tag "#{user.user_detail.pic2.url(:thumb)}", class: 'd-block img-fluid card-image-top chal-carousel-image' %></li>
      <li data-target="#carouselIndicators" data-slide-to="2"><%= image_tag "#{user.user_detail.pic3.url(:thumb)}", class: 'd-block img-fluid card-image-top chal-carousel-image' %></li>
      <% if user.user_detail.pic4.present? %>
          <li data-target="#carouselIndicators" data-slide-to="3"><%= image_tag "#{user.user_detail.pic4.url(:thumb)}", class: 'd-block img-fluid card-image-top chal-carousel-image' %></li>
      <% end %>
      <% if user.user_detail.pic5.present? %>
          <li data-target="#carouselIndicators" data-slide-to="4"><%= image_tag "#{user.user_detail.pic4.url(:thumb)}", class: 'd-block img-fluid card-image-top chal-carousel-image' %></li>
      <% end %>
      <% if user.user_detail.pic6.present? %>
          <li data-target="#carouselIndicators" data-slide-to="5"><%= image_tag "#{user.user_detail.pic4.url(:thumb)}", class: 'd-block img-fluid card-image-top chal-carousel-image' %></li>
      <% end %>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="chal-profile-card-image-container">
          <%= image_tag "#{user.user_detail.pic1.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-profile-card-image' %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="chal-profile-card-image-container">
          <%= image_tag "#{user.user_detail.pic2.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-profile-card-image' %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="chal-profile-card-image-container">
          <%= image_tag "#{user.user_detail.pic3.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-profile-card-image' %>
        </div>
      </div>
      <% if user.user_detail.pic4.present? %>
          <div class="carousel-item">
            <div class="chal-profile-card-image-container">
              <%= image_tag "#{user.user_detail.pic4.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-profile-card-image' %>
            </div>
          </div>
      <% end %>
      <% if user.user_detail.pic5.present? %>
          <div class="carousel-item">
            <div class="chal-profile-card-image-container">
              <%= image_tag "#{user.user_detail.pic5.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-profile-card-image' %>
            </div>
          </div>
      <% end %>
      <% if user.user_detail.pic6.present? %>
          <div class="carousel-item">
            <div class="chal-profile-card-image-container">
              <%= image_tag "#{user.user_detail.pic6.url(:xhdpi_4by3)}", class: 'd-block img-fluid card-image-top chal-profile-card-image' %>
            </div>
          </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="card-block chal-profile-card-block chal-profile-summary">
    <span><%= user.user_detail.nickname %></span>
    <span><%= user.user_detail.home %></span>
    <span><%= user.user_detail.age %>세</span>
  </div>
  <div class="row">
    <hr class="chal-profile-hr">
  </div>
  <div class="card-block chal-profile-card-block">
    <span class="chal-profile-header">- 소개 -</span>
    <p class="chal-profile-card-text">
      저는 <%= user.user_detail.age %>살이고, <%= user.user_detail.home %>에 살고 있는 <%= user.user_detail.job %>입니다.<br>
      키는 <%= user.user_detail.height %>cm 이고, <%= user.user_detail.weight %> 체형이에요.<br>
      성격은 <%= user.user_detail.character %>이고, <%= user.user_detail.style %> 스타일이에요.<br>
      <%= user.user_detail.smoke %>자이고, <%= user.user_detail.drink %> 정도의 주량이에요.<br>
      종교는 <%= user.user_detail.religion %>이고, 혈액형은 <%= user.user_detail.blood %>이에요.<br>
    </p>
  </div>
  <div class="row">
    <hr class="chal-profile-hr">
  </div>
  <div class="card-block chal-profile-card-block">
    <span class="chal-profile-header">- 인터뷰 -</span>

    <div class="chal-audio-row">
      <span><span class="chal-audio-row-question">Q1.</span> 자기소개</span>
      <a id="chal-audio-play-button-0" onclick="playAudio('0')">
        <%= image_tag('before_play.png', class: 'chal-audio-button') %>
      </a>
      <a id="chal-audio-pause-button-0" onclick="pauseAudio('0')" style="display: none;">
        <%= image_tag('after_play.png', class: 'chal-audio-button') %>
      </a>
      <div class="card chal-audio-player-box" style="display:none;"><%= audio_tag "#{user.user_detail.introduce}", controls: true, class: 'chal-audio-player', id: 'chal-audio-control-0' %>
      </div>
    </div>
    <div class="chal-audio-row">
      <span><span class="chal-audio-row-question">Q2.</span> <%= user.user_detail.question1 %></span>
      <a id="chal-audio-play-button-1" onclick="playAudio('1')">
        <%= image_tag('before_play.png', class: 'chal-audio-button') %>
      </a>
      <a id="chal-audio-pause-button-1" onclick="pauseAudio('1')" style="display: none;">
        <%= image_tag('after_play.png', class: 'chal-audio-button') %>
      </a>
      <div class="card chal-audio-player-box" style="display:none;"><%= audio_tag "#{user.user_detail.voice1}", controls: true, class: 'chal-audio-player', id: 'chal-audio-control-1' %>
      </div>
    </div>
    <div class="chal-audio-row">
      <span><span class="chal-audio-row-question">Q3.</span> <%= user.user_detail.question2 %></span>
      <a id="chal-audio-play-button-2" onclick="playAudio('2')">
        <%= image_tag('before_play.png', class: 'chal-audio-button') %>
      </a>
      <a id="chal-audio-pause-button-2" onclick="pauseAudio('2')" style="display: none;">
        <%= image_tag('after_play.png', class: 'chal-audio-button') %>
      </a>
      <div class="card chal-audio-player-box" style="display:none;"><%= audio_tag "#{user.user_detail.voice1}", controls: true, class: 'chal-audio-player', id: 'chal-audio-control-2' %>
      </div>
    </div>
    <div class="chal-audio-row">
      <span><span class="chal-audio-row-question">Q4.</span> <%= user.user_detail.question3 %></span>
      <a id="chal-audio-play-button-3" onclick="playAudio('3')">
        <%= image_tag('before_play.png', class: 'chal-audio-button') %>
      </a>
      <a id="chal-audio-pause-button-3" onclick="pauseAudio('3')" style="display: none;">
        <%= image_tag('after_play.png', class: 'chal-audio-button') %>
      </a>
      <div class="card chal-audio-player-box" style="display:none;"><%= audio_tag "#{user.user_detail.voice1}", controls: true, class: 'chal-audio-player', id: 'chal-audio-control-3' %>
      </div>
    </div>
  </div>
  <div class="row">
    <hr class="chal-profile-hr">
  </div>
  <div class="card-block chal-profile-card-block">
    <span class="chal-profile-header">- 관심사와 취미 -</span>
    <div class="row">
      <div class="col hawai-toggle-options">
        <% user.user_detail.interest.split('["')[1].split('"]')[0].split('", "').each do |interest| %>
            <label class="btn btn-outline-chal btn-outline-hawai-options <%= current_user.user_detail.interest.present? && current_user.user_detail.interest.include?(interest) ? 'active' : '' %>">
              <%= interest %>
            </label>
        <% end if user.user_detail.interest.present? %>
      </div>
    </div>
  </div>
  <div class="row">
    <hr class="chal-profile-hr">
  </div>
  <div class="card-block chal-profile-card-block">
    <span class="chal-profile-header">- 매력요소 -</span>
    <div class="row">
      <div class="col hawai-toggle-options">
        <% user.user_detail.attraction.split('["')[1].split('"]')[0].split('", "').each do |attraction| %>
            <label class="btn btn-outline-chal btn-outline-hawai-options <%= current_user.user_detail.attraction.present? && current_user.user_detail.attraction.include?(attraction) ? 'active' : '' %>">
              <%= attraction %>
            </label>
        <% end if user.user_detail.attraction.present? %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('.carousel').carousel({
    interval: false,
    wrap: false
  }).bcSwipe({threshold: 50});

  function playAudio(number) {
    pauseAll();
    document.getElementById('chal-audio-control-' + number).play();
    document.getElementById('chal-audio-play-button-' + number).style.display = 'none';
    document.getElementById('chal-audio-pause-button-' + number).style.display = 'inline-block';
  }
  function pauseAudio(number) {
    document.getElementById('chal-audio-control-' + number).pause();
    document.getElementById('chal-audio-play-button-' +number).style.display = 'inline-block';
    document.getElementById('chal-audio-pause-button-' + number).style.display = 'none';
  }

  function pauseAll() {
    x = document.getElementsByClassName("chal-audio-player");
    var i;
    for (i = 0; i < x.length; i++) {
      id = x[i].id.split('-').slice(-1)[0];
      pauseAudio(id);
    }
  }

</script>
