<%= render :partial => 'layouts/home_header' %>
<div class="hawaian-header-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="chal-sign-form-box">
        <div class="field form-group">
          <%= f.email_field :email, :required => true, class: "form-control btn-login-rounded", placeholder: '이메일 주소' %>
        </div>
        <hr>
        <div class="field form-group">
          <%= f.password_field :password, autocomplete: "off", :required => true, class: "form-control btn-login-rounded", placeholder: '비밀번호(6자 이상)' %>
        </div>

        <div class="field form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", :required => true, class: "form-control btn-login-rounded", placeholder: '비밀번호 재입력' %>
        </div>
        <hr>
        <div class="actions form-group">
          <%= f.submit "이메일로 회원가입", class: "btn btn-login btn-login-rounded" %>
        </div>
      </div>
  <% end %>
</div>
