<div class="chal-body">
  <% if !@hired_users.present? %>
      <div class="d-flex flex-column justify-content-center chal-qna-q">
        <span class="chal-profile-header">- 나의 인연은 어디에 있을까 ? -</span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
        <span>우측 하단의 '소개받기' 버튼을 통해서 새로운 상대방을 소개받을 수 있어요 !<br>인연찾기 페이지는 24시간 기준으로 매일 새로 갱신 됩니다. </span>
      </div>
  <% else %>
      <p class="chal-matching-header">당신의 인연이 기다리고 있습니다</p>
      <div class="card-deck row sortable chal-matchings-row">
        <% @hired_users.each do |user| %>
            <div class="col-6">
              <div class="card text-center chal-card">
                <a href="#" class="chal-modal-a" data-toggle="modal" data-target=".modal-<%= user.id %>">
                  <div class="chal-matching-image-container">
                    <%= image_tag "#{user.user_detail.pic1.url(:xhdpi_4by3)}", class: 'card-image-top chal-matchings-image' %>
                  </div>
                  <div class="card-block chal-matching-profile-summary">
                    <span><%= user.user_detail.nickname %></span>
                    <span><%= user.user_detail.home %></span>
                    <span><%= user.user_detail.age %>세</span>
                  </div>
                </a>
                <!-- Large modal -->

                <div class="modal modal-<%= user.id %> chal-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title" id="exampleModalLabel">프로필</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <i class="icon ion-ios-close-empty"></i>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="sidenav-profile">
                          <div class="user-nav-profile">
                            <div class="chal-matching-image-container">
                              <%= image_tag "#{user.user_detail.pic1.url(:xhdpi_4by3)}", class: 'card-image-top chal-matchings-image' %>
                            </div>
                            <div class="user-nav-nickname">
                              <span><%= user.user_detail.nickname %></span>
                            </div>
                            <p><%= user.user_detail.age %>살/<%= user.user_detail.home %>
                              /<%= user.user_detail.style %></p>
                          </div>
                        </div>
                        <hr>
                        <div class="chal-audio container">
                          <div class="chal-audio-row">
                            <span><span class="chal-audio-row-question">Q1.</span> 자기소개</span>
                            <a id="chal-user-audio-play-button-<%= user.id %>" onclick="playAudio(<%= user.id %>)">
                              <%= image_tag('before_play.png', class: 'chal-audio-button') %>
                            </a>
                            <a id="chal-user-audio-pause-button-<%= user.id %>" onclick="pauseAudio(<%= user.id %>)" style="display: none;">
                              <%= image_tag('after_play.png', class: 'chal-audio-button') %>
                            </a>
                            <div class="card chal-audio-player-box" style="display:none;">
                              <%= audio_tag "#{user.user_detail.introduce}", controls: true, class: 'chal-audio-player', id: "chal-user-audio-control-#{user.id}" %>
                            </div>
                          </div>
                          <div class="chal-audio-row">
                            <span><span class="chal-audio-row-question">Q2.</span> <%= user.user_detail.question1 %></span>
                          </div>
                          <div class="chal-audio-row">
                            <span><span class="chal-audio-row-question">Q3.</span> <%= user.user_detail.question2 %></span>
                          </div>
                          <div class="chal-audio-row">
                            <span><span class="chal-audio-row-question">Q4.</span> <%= user.user_detail.question3 %></span>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <%= link_to matching_path(user), class: 'btn btn-login d-flex justify-content-center align-items-center', :data => {:confirm => '진행시 5떡이 차감됩니다.', turbolinks: false} do %>
                            <span>프로필 열어서 답변듣기</span>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      </div>
  <% end %>

  <div class="chal-page-options">
    <%= link_to matchings_path, :data => {:confirm => '새로운 인연 소개를 위해서 망고 5개가 필요 합니다.'}, :method => 'POST' do %>
      <span>
        소개<br>
        받기
      </span>
    <% end %>
  </div>

  <script type="text/javascript" charset="utf-8">
    $('.chal-modal').on('hidden.bs.modal', function (e) {
      pauseAll();
    });

    function playAudio(user_id) {
      pauseAll();
      document.getElementById('chal-user-audio-control-' + user_id).play();
      document.getElementById('chal-user-audio-play-button-' + user_id).style.display = 'none';
      document.getElementById('chal-user-audio-pause-button-' + user_id).style.display = 'inline-block';
    }
    function pauseAudio(user_id) {
      document.getElementById('chal-user-audio-control-' + user_id).pause();
      document.getElementById('chal-user-audio-play-button-' + user_id).style.display = 'inline-block';
      document.getElementById('chal-user-audio-pause-button-' + user_id).style.display = 'none';
    }
    function pauseAll() {
      x = document.getElementsByClassName("chal-audio-player");
      var i;
      for (i = 0; i < x.length; i++) {
        id = x[i].id.split('-').slice(-1)[0];
        pauseAudio(id);
      }
    }
  </script>
