<!--
<div class="chal-body">
  <%= render 'components/user_profile', user: @matching %>
</div>
<div class="chal-page-options">
  <a href="/conversations/new?recipients=<%= @matching.id %>" role="button"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
</div>
-->
<!-- 필요 없는 페이지임 나중에 삭제 -->
