<div class="container">
  <div class="chal-body">
    <div class="hawaian-logo-container">
      <%= image_tag('hawaian_logo.png') %>
    </div>
    <div>
      <%= form_for @phone_number, url: '/verify_phone_numbers', method: :post, remote: true do |f| %>
          <div class="chal-sign-form-box">
            <div class="">
              <%= f.telephone_field(:pin, class: "form-control btn-login-rounded", :required => true, :pattern => '^\d{4}$', :autofocus => true, placeholder: '인증번호') %>
            </div>
            <div class="chal-sticky-submit-container">
              <%= f.submit "인증확인", class: "btn btn-login" %>
            </div>
          </div>
      <% end %>
      <div class="row">
        <hr class="chal-profile-hr">
      </div>
      <div class="d-flex flex-column justify-content-center chal-qna-q">
        <span class="chal-profile-header">- 전화번호를 왜 인증해야 하나요 ? -</span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
        <span>'하와이안 커플'은 이성간에 궁금해하는 질문과 답변을 기반으로 매칭이 이루어지는 소개팅 앱 입니다.<br>자신의 프로필이 상대방에게 소개 되기 위해서 '하와이안 커플' 에서 진행하는 간단한 전화 인터뷰에 응하셔야 합니다.<br><b>휴대폰 번호는 절대로 타인에게 공개되지 않습니다.</b></span>
      </div>
    </div>
  </div>
</div>
