<div class="chal-body">
  <!--
  <%= render 'components/message_box' %>
-->
  <% unless @friends.present? %>
      <div class="d-flex flex-column justify-content-center chal-qna-q">
        <span class="chal-profile-header">- 나의 인연은 누구일까 ? -</span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
        <span>'인연찾기' 탭에서 새로운 상대방과 인연을 만들 수 있어요 !</span>
      </div>
  <% end %>
  <div class="card-deck row chal-friends-row">
    <% @friends.each_with_index do |user, i| %>
        <div class="col-4">
          <div class="card text-center chal-card">
            <a href="/friends/<%= user.id %>">
              <div class="card-image">
                <%= image_tag "#{user.user_detail.pic1.url(:xhdpi_4by3)}", class: 'card-image-top chal-friends-image' %>
              </div>
              <div class="card-block">
                <span><%= user.user_detail.nickname %></span>
              </div>
            </a>
          </div>
        </div>
    <% end %>
  </div>
</div>
