<div class="chal-body" style="padding-bottom: 70px;">
  <%= render 'components/user_profile', user: @friend %>
</div>
<div class="chal-sticky-submit-container">
  <a class="btn btn-login d-flex justify-content-center align-items-center" href="/conversations/new?recipients=<%= @friend.id %>" role="button"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;쪽지 보내기</a>
</div>
