<%= content_tag_for(:div, conversation, class: 'chal-conversations-unit') do |conversation| %>
    <%= link_to api_chat_call_path(conversation_id: conversation.id), data: { turbolinks: false } do %>
        <% unread = conversation.receipts_for(current_user).where(is_read: false).count %>
        <% sender = conversation.participants.first == current_user ? conversation.participants.last : conversation.participants.first %>
        <div class="chal-conversations-unit d-flex flex-row justify-content-between align-items-start">
          <div class="chal-conversations-profile d-flex">
            <%= image_tag "#{sender.user_detail.pic1.url(:thumb)}" %>
          </div>
          <div class="chal-conversations-main">
            <span><%= sender.user_detail.nickname %></span>
            <span><%= conversation.last_message.body %></span>
          </div>
          <div class="chal-conversations-info">
            <span class="chal-conversations-info-time"><%= time_ago_in_words(conversation.last_message.created_at) %> 전</span>
            <div class="chal-conversations-info-alarm">
              <% if conversation.is_completely_trashed?(current_user) %>
                  <span>차단함</span>
              <% elsif BadassReport.where(conversation_id: conversation).exists? %>
                  <span>신고함</span>
              <% else %>
                  <%= unread > 0 ? "<span>#{unread}</span>".html_safe : '' %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>


