<%= form_for :conversation, url: :conversations, data: { turbolinks: false } do |f| %>
    <input type="hidden" name="conversation[recipients]" value="<%= recipients.id %>">
    <div class="form-group row" style="display: none;">
      <div class="col">
        <%= f.text_field :subject, class: 'form-control', value: current_user.id %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <p id="chal-conversation-textarea-counter">140</p>
        <%= f.text_area :body, class: 'form-control chal-conversation-body', id: 'chal-conversation-textarea', placeholder: "#{recipients.user_detail.nickname} 님에게 마음을 표현해 보세요" %>
      </div>
    </div>
    <div class="chal-sticky-submit-container">
      <%= f.submit '대화 신청', class: 'btn btn-login chal-sticky-submit-button', :data => {:confirm => '메시지 전송 및 채팅방 개설을 위해서 망고 5개가 필요 합니다.'} %>
    </div>
<% end %>

<script type="text/javascript">
  $('#chal-conversation-textarea').keyup(function () {
    maxLength = 140;
    var left = maxLength - $(this).val().length;
    if (left < 0) {
      $('#chal-conversation-textarea-counter').css("color", "red");
      $('.chal-sticky-submit-button').prop('disabled', true);
    } else {
      $('#chal-conversation-textarea-counter').css("color", "black");
      $('.chal-sticky-submit-button').prop('disabled', false);
    }
    if (70 < left) {
      $('#chal-conversation-textarea').css("font-size", "22px");
    } else {
      $('#chal-conversation-textarea').css("font-size", "20px");
    }
    $('#chal-conversation-textarea-counter').text(left);
  });
</script>