<div class="chal-sticky-submit-container">
  <%= form_for :message, url: reply_conversation_path(conversation), :html => { :id => "messages-form" }, remote: true do |f| %>
      <div class="row chal-messages-row">
        <div class="col-1">
          <span id="chal-messages-textarea-counter">140</span>
        </div>
        <div class="col-11">
          <%= f.text_field :body, class: 'form-control chal-messages-body', id: 'chal-messages-textarea', placeholder: "메세지 보내기", autocomplete: 'off' %>
          <%= f.submit '전송', class: 'btn btn-login chal-messages-submit-button', id: 'messages-submit'%>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#chal-messages").scrollTop($("#chal-messages")[0].scrollHeight);
    $("#messages-form").bind("ajax:send", function(event,xhr,status){
      $('#chal-messages-textarea').val('');
      $('#chal-messages-textarea').focus();
    });
  });
</script>
