<div class="chal-body">
  <% unless mailbox.conversations.present? %>
      <div class="d-flex flex-column justify-content-center chal-qna-q">
        <span class="chal-profile-header">- 인연을 찾아 대화를 시작해보세요 ! -</span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
        <span>'인연찾기' 에서 만난 인연들 중 '나의인연' 탭에 있는 상대방의 프로필 페이지에서 메시지를 보낼 수 있어요 !<br>대화가 시작된 후에는 1:1 채팅방이 열리고, 상대방과 실시간 채팅을 하실 수 있습니다.</span>
      </div>
  <% end %>
  <div class="chal-conversations">
    <%= render collection: mailbox.conversations, partial: 'conversation' %>
  </div>
</div>
