<div class="chal-body">
  <a href="#" class="btn btn-outline-chal" data-toggle="modal" data-target=".modal-recipients">프로필 다시 보기</a>
  <%= render 'form', recipients: @recipients %>

  <div class="modal modal-recipients chal-modal chal-conversations-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <%= render 'components/user_profile', user: @recipients %>
        </div>
        <div class="modal-footer d-flex justify-content-end">
        </div>
      </div>
    </div>
  </div>
</div>
