<div class="container">
  <div class="chal-messages" id="chal-messages">
    <% @aheader = nil %>
    <%= content_tag_for(:div, conversation.receipts_for(current_user).order(id: :asc), class: 'chal-messages-unit') do |receipt| %>
        <% message = receipt.message %>
        <% sender = message.sender %>
        <% if sender == current_user %>
            <div class="chal-outgoing-messages-unit">
              <% unless @aheader == sender %>
                  <div class="d-flex chal-messages-unit-profile">
                    <p><%= current_user.user_detail.nickname %></p>
                    <%= image_tag "#{current_user.user_detail.pic1.url(:thumb)}" %>
                  </div>
              <% end %>
              <div class="chal-messages-unit-message">
                <div class="chal-messages-unit-info">
                  <span class="message-unread"><%= conversation.receipts_for(message.recipients.first).find_by_notification_id(receipt.notification_id).is_unread? ? '1' : '' %></span>
                  <span><%= time_ago_in_words(message.created_at) %>전</span>
                </div>
                <p class="chal-messages-unit-body"><%= message.body %></p>
              </div>
            </div>
        <% else %>
            <div class="chal-incoming-messages-unit">
              <% unless @aheader == sender %>
                  <div class="d-flex chal-messages-unit-profile">
                    <a href="/friends/<%= sender.id %>">
                      <%= image_tag "#{sender.user_detail.pic1.url(:thumb)}" %>
                    </a>
                    <p><%= sender.user_detail.nickname %></p>
                  </div>
              <% end %>
              <div class="chal-messages-unit-message-incoming">
                <p class="chal-messages-unit-body"><%= message.body %></p>
                <div class="chal-messages-unit-info">
                  <span><%= time_ago_in_words(message.created_at) %>전</span>
                </div>
              </div>
            </div>
        <% end %>
        <% @aheader = message.sender if @aheader != message.sender %>
    <% end %>
    <p id="chal-messages-textarea-sample"></p>
  </div>
</div>

<%= render 'messages_form', conversation: conversation %>

<div class="chal-page-options chal-page-options-top-left">
  <div class="btn-group">
    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="d-flex chal-messages-option-profile">
        <%= image_tag "#{(conversation.recipients - [current_user]).first.user_detail.pic1.url(:thumb)}" %>
      </div>
    </a>
    <div class="dropdown-menu" style="border: none;">
      <%= link_to api_chat_friend_path(id: (conversation.recipients - [current_user]).first.id), data: {turbolinks: false} do %>
          <span>프로필</span>
      <% end %>
      <% if conversation.is_completely_trashed?(current_user) %>
          <%= link_to untrash_conversation_path(conversation_id: conversation.id), method: :post, data: {confirm: '허용시 상대방이 메세지를 다시 보낼 수 있습니다.'} do %>
              <span>허용<br>하기</span>
          <% end %>
      <% else %>
          <%= link_to trash_conversation_path(conversation_id: conversation.id), method: :post, data: {confirm: '차단시 상대방이 메세지를 보낼 수 없습니다.'} do %>
              <span>차단<br>하기</span>
          <% end %>
      <% end %>
      <%= link_to badass_reports_path(conversation_id: conversation.id), method: :post do %>
          <span>신고<br>하기</span>
      <% end %>
    </div>
  </div>
</div>

<%= form_for :read_conversations, url: read_conversation_path(conversation), :html => { :id => "read-conversations-form" }, method: :put, remote: true do |f| %>
  <%= f.hidden_field :receipt_code, id: 'other-user-receipt-code' %>
<% end %>
<div id="current-user-template" data-user-id="<%= current_user.id %>" data-conversation-id="<%= conversation.id %>">
  <div data-receipt-code="0" class="mailboxer_receipt chal-messages-unit">
    <div class="chal-outgoing-messages-unit">
      <div class="chal-messages-unit-message">
        <div class="chal-messages-unit-info">
          <span class="message-unread">1</span>
          <span>1분 미만전</span>
        </div>
        <p class="chal-messages-unit-body">1</p>
      </div>
    </div>
  </div>
</div>

<div id="other-user-template">
  <div class="mailboxer_receipt chal-messages-unit">
    <div class="chal-incoming-messages-unit">
      <div class="chal-messages-unit-message-incoming">
        <p class="chal-messages-unit-body"></p>
        <div class="chal-messages-unit-info">
          <span>1분 미만전</span>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :action_js do %>
    <%= javascript_include_tag 'cable' %>
<% end %>
