<h2>[하와이안 커플] 비밀번호 변경</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "새 비밀번호로 설정 가능합니다." %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 글자 이상 입력해주세요.)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "비밀번호를 다시 한 번 확인해주세요." %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "비밀번호 변경" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
