<%= render :partial => 'layouts/home_header' %>
<div class="hawaian-header-body">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <div class="chal-sign-form-box">
        <%= devise_error_messages! %>
        <h6>비밀번호를 잊어버리셨나요?</h6>
        <hr>
        <div class="field form-group">
          <%= f.email_field :email, autofocus: true, :required => true, class: "form-control btn-login-rounded", placeholder: '이메일 주소' %>
        </div>

        <div class="actions form-group">
          <%= f.submit "비밀번호 재설정 보내기", class: "btn btn-login btn-login-rounded" %>
        </div>
        <hr>
        <div class="chal-sign-links">
          <%= link_to "로그인", new_session_path(resource_name), method: :get %> /
          <%= link_to "회원가입", new_registration_path(resource_name), method: :get %>
        </div>
      </div>
  <% end %>

</div>
