<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.2.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var IMP = window.IMP;
    IMP.init('imp58386990');
    console.log("이니시에이트");

    var params = {
      pg: '<%= @req[:pg] %>',
      pay_method: '<%= @req[:pay_method] %>',
      merchant_uid: '<%= @req[:merchant_uid] %>_' + new Date().getTime(),
      name: '<%= @req[:product_name] %>',
      amount: '<%= @req[:amount] %>', //여기 json 으로 받아야한다.
      buyer_email: '<%= @req[:buyer_email] %>',
      buyer_tel: '<%= @req[:buyer_tel] %>',
      buyer_name: "<%= @req[:buyer_name] %>",
      // buyer_addr: '<%= @req[:buyer_addr] %>',
      // buyer_postcode: '<%= @req[:buyer_postcode] %>',
      m_redirect_url: "http://localhost:3000/users/<%= current_user.verification_key %>/mobile"
    };
    console.log("전송되기직전임.");
    IMP.request_pay(params,
        function (rsp) {
          if (rsp.success) {
            //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
            $.ajax({
              url: "/paygates", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
              type: 'POST',
              dataType: 'json',
              data: {
                authenticity_token: '<%= form_authenticity_token %>',
                paygate: {
                  user_key: '<%= current_user.verification_key %>',
                  merchant_uid: '<%= @req[:merchant_uid] %>_' + new Date().getTime(),
                  imp_uid: rsp.imp_uid, //string
                  pg_provider: rsp.pg_provider,
                  permission: rsp.success, //boolean
                  name: rsp.name, //string
                  amount: rsp.paid_amount, //number
                  status: rsp.status, //string (ready, paid, cancelled, failed)
                  receipt_url: rsp.receipt_url //string
                  //기타 필요한 데이터가 있으면 추가 전달
                }
              }
            }).done(function (data) {
              //[2] 서버에서 reqT API로 결제정보확인 및 서비스루틴이 정상적인 경우
              if (rsp.success) {
                var msg = '결제가 완료되었습니다.';
                msg += '\n고유ID : ' + data.imp_uid;
                msg += '\n상점 거래ID : ' + data.merchant_uid;
                msg += '\n결제 금액 : ' + data.paid_amount;
                msg += '\n카드 승인번호 : ' + data.apply_num;

                alert(msg);
                console.log("결제성공함.");
                window.location = '/';
                //var win = window.open('','_self');
                //win.close();
              } else {
                var failmsg = '결제에 실패했습니다.';
                failmsg += '\n에러 내용' + data.error_code;
                failmsg += '\n에러 내용' + data.error_msg;

                alert(failmsg);
                //[3] 아직 제대로 결제가 되지 않았습니다.
                //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
                console.log("결제실패함.");
                window.location = '/';
                //var win = window.open('','_self');
                //win.close();
              }
            }).fail(function (data) {
              console.log("결제실패함.");
              window.location = '/';
              //var win = window.open('','_self');
              //win.close();
            });
          } else {
            var msg = '결제에 실패하였습니다.';
            msg += '\n사유 : ' + rsp.error_msg;

            alert(msg);
            console.log("결제실패함.");
            window.location = '/payment/payform';
            //var win = window.open('','_self');
            //win.close();
          }
        });
  });
</script>
<style>
  header, footer {
    display: none;
  }
  iframe .imp-frame .imp-frame-pc .imp-frame-default .imp-frame-danal {
    left: 0% !important;
    margin-left: 0px;
    margin-top: 0px;
  }
</style>