<div class="chal-body">
  <form action="/purchase/verify" method="POST" name="form_payment" id="form_payment" class="chal-paygate-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-options">
      <div class="btn-group chal-paygate-form-options" data-toggle="buttons">
        <label class="btn btn-outline-success btn-outline-chal w-100 active chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="purchase[amount]" id="option1" autocomplete="off" value="1000" checked> 1떡
        </label>
        <label class="btn btn-outline-success btn-outline-chal w-100 chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="purchase[amount]" id="option2" autocomplete="off" value="2000"> 2떡
        </label>
        <label class="btn btn-outline-success btn-outline-chal w-100 chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="purchase[amount]" id="option3" autocomplete="off" value="3000"> 3떡
        </label>
      </div>
      <input id="device" type="hidden" name="purchase[device]" value="ios">
    </div>
    <div class="form-submit chal-sticky-submit-container">
      <button id="paybutton" class="btn btn-outline-success btn-outline-chal btn-lg btn-block chal-sticky-submit-button">결제하기</button>
    </div>
  </form>
</div>

