<div class="chal-body">
  <form action="/payment/gateway" method="POST" name="form_payment" id="form_payment" class="chal-paygate-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="form-options">
      <div class="btn-group chal-paygate-form-options chal-paygate-top" data-toggle="buttons">
        <label class="btn btn-outline-success btn-outline-chal w-100 active chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="paygate[pay_method]" id="option1" autocomplete="off" value="phone" checked> 휴대폰결제
        </label>
        <label class="btn btn-outline-success btn-outline-chal w-100 chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="paygate[pay_method]" id="option2" autocomplete="off" value="card"> 카드결제
        </label>
        <label class="btn btn-outline-success btn-outline-chal w-100 chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="paygate[pay_method]" id="option3" autocomplete="off" value="cultureland"> 문화상품권
        </label>
      </div>
      <hr>
      <div class="btn-group chal-paygate-form-options" data-toggle="buttons">
        <label class="btn btn-outline-success btn-outline-chal w-100 active chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="paygate[amount]" id="option1" autocomplete="off" value="1000" checked> 100P
        </label>
        <label class="btn btn-outline-success btn-outline-chal w-100 chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="paygate[amount]" id="option2" autocomplete="off" value="2000"> 200P
        </label>
        <label class="btn btn-outline-success btn-outline-chal w-100 chal-paygate-flex-row-center chal-paygate-option">
          <input type="radio" name="paygate[amount]" id="option3" autocomplete="off" value="3000"> 300P
        </label>
      </div>
      <input id="user_key" type="hidden" name="paygate[user_key]" value="33732840">
      <input id="pg" type="hidden" name="paygate[pg]" value="danal">
      <input id="merchant_uid" type="hidden" name="paygate[merchant_uid]" value="chal-paygatepayment">
      <input id="buyer_name" type="hidden" name="paygate[buyer_name]" value="이한결">
      <input id="product_name" type="hidden" name="paygate[product_name]" value="떡캐시">
      <input id="buyer_tel" type="hidden" name="paygate[buyer_tel]" value="010-3373-2840">
      <input id="buyer_email" type="hidden" name="paygate[buyer_email]" value="test@chal-paygate.com">
    </div>
    <div class="form-submit chal-sticky-submit-container">
      <button id="paybutton" class="btn btn-outline-success btn-outline-chal btn-lg btn-block chal-sticky-submit-button">결제하기</button>
    </div>
  </form>
</div>

