<div class="chal-body">
  <div class="d-flex flex-column justify-content-center chal-qna-q">
    <span class="chal-profile-header">- 녹음 신청 완료 -</span>
  </div>
  <div class="d-flex flex-row align-items-center chal-qna-a">
    <span>신청해주신 시간대에 맞추어서 전화 인터뷰를 드리도록 하겠습니다.<br>
  전화 인터뷰 후에는 본인의 프로필이 이성에게 소개 되기 시작합니다.</span>
  </div>
</div>
