<div class="chal-body">
  <form action="/record" method="POST" enctype="multipart/form-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="chal-sign-form-box">
      <div class="chal-hr-box">
        <span>
          인터뷰 질문
        </span>
      </div>
      <% (1..3).each do |i| %>
          <div class="form-group row">
            <div class="col">
              <select class="form-control chal-form-control" name="user_detail[question<%= i %>]" id="chal-user-question-<%= i %>">
                <%= @questions.each do |question| %>
                    <% if i==1 %>
                        <option value="<%= question %>" <%= @user_detail.question1==question ? 'selected' : '' %>><%= question %></option>
                    <% elsif i==2 %>
                        <option value="<%= question %>" <%= @user_detail.question2==question ? 'selected' : '' %>><%= question %></option>
                    <% elsif i==3 %>
                        <option value="<%= question %>" <%= @user_detail.question3==question ? 'selected' : '' %>><%= question %></option>
                    <% end %>
                <% end %>
              </select>
            </div>
          </div>
      <% end %>
    </div>

    <div class="chal-sign-form-box">
      <div class="chal-hr-box">
    <span>
      녹음 가능한 요일
    </span>
      </div>
      <div class="row">
        <div class="col hawai-toggle-options" data-toggle="buttons">
          <% @days.each do |day| %>
              <label class="btn btn-outline-chal btn-outline-hawai-options">
                <input type="checkbox" name="record[request_days][]" value="<%= day %>" autocomplete="off"> <%= day %>
              </label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="chal-sign-form-box">
      <div class="chal-hr-box">
    <span>
      녹음 가능한 시간대
    </span>
      </div>
      <div class="row">
        <div class="col hawai-toggle-options" data-toggle="buttons">
          <% @times.each do |day| %>
              <label class="btn btn-outline-chal btn-outline-hawai-options">
                <input type="checkbox" name="record[request_times][]" value="<%= day %>" autocomplete="off"> <%= day %>
              </label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="chal-sign-form-box">
      <div class="chal-hr-box">
    <span>
      약관
    </span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
        <span>전화 인터뷰 진행시 모든 통화 내용은 녹음 됩니다. 녹음 된 음성 데이터는 편집 후 프로필에 업데이트 되며, 앱 내에서 이성간의 매칭 용도로 활용 될 예정입니다. 사용자의 허락없이 외부 마케팅에 활용하지 않으며, 개인정보는 절대로 공개되지 않습니다.</span>
      </div>
      <hr>
      <div class="form-check right" style="margin-bottom: 0px;">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" required> 동의함
        </label>
      </div>
    </div>

    <button type="submit" class="btn btn-login">인터뷰 신청하기</button>

  </form>
</div>