<% if current_user.record_request %>
    <div class="chal-body" style="padding-bottom: 70px;">
      <div class="d-flex flex-column justify-content-center chal-qna-q">
        <span class="chal-profile-header">- 녹음 신청 완료 -</span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
    <span>신청해주신 시간대에 맞추어서 전화 인터뷰를 드리도록 하겠습니다.<br>
  전화 인터뷰 후에는 본인의 프로필이 이성에게 소개 되기 시작합니다.</span>
      </div>
    </div>
    <div class="chal-sticky-submit-container">
      <a class="btn btn-login d-flex justify-content-center align-items-center" href="/record/new" class="btn btn-login">인터뷰
        다시 신청하기</a>
    </div>
<% else %>
    <div class="chal-body" style="padding-bottom: 70px;">
      <div class="d-flex flex-column justify-content-center chal-qna-q">
        <span class="chal-profile-header">- 전화 인터뷰 신청하기 -</span>
      </div>
      <div class="d-flex flex-row align-items-center chal-qna-a">
        <span>하와이안 커플은 이성간에 궁금해하는 질문과 답변을 기반으로 매칭이 이루어지는 소개팅 앱 입니다.<br>자신의 프로필이 상대방에게 소개 되기 위해서 '하와이안 커플'에서 진행하는 간단한 전화 인터뷰에 응하셔야 합니다.<br>생생하고, 실제 검증 된 회원 끼리만 매칭서비스가 이루어질 수 있도록하기 위한 새로운 방법 입니다.<br>+ 전화 인터뷰를 신청해주시면 선물 포인트가 추가로 적립 됩니다.<br><b>휴대폰 번호는 절대로 타인에게 공개되지 않습니다.</b></span>
      </div>
    </div>
    <div class="chal-sticky-submit-container">
      <a class="btn btn-login d-flex justify-content-center align-items-center" href="/record/new" class="btn btn-login">인터뷰
        신청하기</a>
    </div>
<% end %>