<%= render :partial => 'layouts/home_header' %>
<div class="hawaian-header-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="chal-sign-form-box">
        <div class="field form-group">
          <%= f.email_field :email, :required => true, class: "form-control btn-login-rounded", placeholder: '이메일 주소' %>
        </div>

        <div class="field form-group">
          <%= f.password_field :password, autocomplete: "off", :required => true, class: "form-control btn-login-rounded", placeholder: '비밀번호' %>
        </div>

        <div class="actions form-group">
          <%= f.submit "이메일로 로그인하기", class: "btn btn-login btn-login-rounded" %>
        </div>
        <hr>
        <div class="chal-sign-links">
          <%= link_to "비밀번호 찾기", new_password_path(resource_name), method: :get %> /
          <%= link_to "회원가입", new_registration_path(resource_name), method: :get %>
        </div>
      </div>
  <% end %>

  <%= render :partial => "snslogin/facebook", :locals => {:button_message => '페이스북으로 로그인하기'} %>
</div>


