<div class="hawaian-landing-page">
  <div class="hawaian-login-container d-flex flex-column justify-content-around align-items-center">
    <%= link_to "이메일로 가입하기", new_user_registration_path, method: :get, class: 'btn btn-login btn-login-rounded' %>
    <%= render :partial => "snslogin/facebook", :locals => {:button_message => '페이스북으로 가입하기'} %>
    <div class="chal-sign-links">
      <%= link_to "로그인", new_user_session_path, method: :get %>
    </div>
  </div>
</div>
