.hawaian-header-body {
  margin-top: 40px;
}

.hawaian-landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  min-width: 100vw;
  background-image: image-url("main-background");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hawaian-login-container {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 30vh;
}

.hawaian-logo-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hawaian-logo-container img {
  height: 50px;
}

.btn-login-rounded {
  height: 45px;
  border-radius: 30px;
  width: 80vw;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  line-height: 35px;
}

.sns-login-rounded {
  height: 45px;
  border-radius: 30px;
  width: 80vw;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pg-hawaian {
  background-color: #ff4252
}

.hawai-toggle-options {
  display: block;
  max-width: 95vw;
  margin-right: auto;
}
.hawai-toggle-options .btn-outline-hawai-options {
  display: inline-block;
  border-radius: 30px;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 5px;
  line-height: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  outline: none;
  box-shadow: none;
  transition: 0s;
}

.hawai-options-plus-container {
  display: none;
  align-items: center;
}
.hawai-options-plus-input {
  display: flex;
  width: 100%;
}
.hawai-options-plus-button {
  line-height: 40px;
}
.hawai-options-plus-button img {
  height: 25px;
  margin-bottom: 5px;
}
.hawai-options-submit {
  height: 37px;
  width: 60px;
}