/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr.min";
@import "bootstrap-multiselect";
@import "ionicons";
@import "nav_menu";
@import '*';

@media (min-width: 768px) {
  header {
    margin-top: 40px;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  margin-top: 42px;
}

body {
}
body.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

main {
  max-width: 700px !important;
  margin: 0 auto;
}

footer {
  margin-bottom: 41px;
}

@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
@font-face {
  font-family: 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, input, label, div, a, table, table tr, table tr td, tr, td, table th, th {
  font-family: 'Noto Sans KR';
}


.hawaian-logo {
  height: auto;
  width: 75px;
}

.chal-container {
  background-color: white;
  padding: 0px;
}

.chal-navbar {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e3e3e3;
}

.chal-top-nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chal-top-nav .chal-navbar-toggle {

}
.chal-top-nav .chal-navbar-toggle button {
  border: none;
  outline: 0;
  padding: 0;
  align-self: flex-start;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border-radius: 0.25rem;
  position: absolute;
  left: 1rem;
}
.chal-top-nav .chal-navbar-toggle i {
  font-size: 24px;
 }
.chal-top-nav .chal-navbar-toggle .navbar-collapse{
  position: absolute;
  top: 40px;
  outline: 0;
}

.chal-top-nav .nav-item {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-top-nav .nav-item a {
  color: black;
  font-size: 13px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.chal-top-nav .chal-nav-item .nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-top-nav .chal-nav-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.chal-top-nav .chal-nav-center {
  display: flex;
  flex: 3;
  justify-content: center;
}

.chal-top-nav .chal-nav-center .nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-top-nav .chal-nav-center .nav-item .nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-top-nav .chal-nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.chal-top-nav-new-message {
  display: flex;
  height: 100%;
}
.chal-top-nav-new-message span {
  font-size: 7px;
  line-height: 100%;
  color: #fc5c4f;
  position: absolute;
}

.chal-nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #e3e3e3;
  padding: 0px;
}

.chal-nav .nav-item a {
  text-align: center;
  color: black;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chal-nav .nav-item a:active {
  box-shadow: 0px 0px 1px #c3c3c3;
}
.chal-nav .nav-item i {
  font-size: 28px;
  line-height: 1;
}
.chal-nav .nav-item span {
  font-size: 10px;
  line-height: 1;
  font-weight: 100;
}

.chal-nav .chal-col-center {

 }

.chal-nav .chal-col-center-left {

}

.chal-body {
  width: 100%;
  height: 100%;
  padding: 15px 0px;
}

.col.nav-item {
  padding: 0px;
}

.chal-page-options {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.chal-page-options i {
  font-size: 25px;
}
.chal-page-options .dropdown-menu {
  background-color: transparent;
}
.chal-page-options-top-left {
  position: fixed;
  left: 15px;
  top: 15px;
  bottom: auto;
  background-color: transparent;
}
.chal-page-options-top-right {
  position: fixed;
  top: 55px;
  bottom: auto;
  background-color: transparent;
}
.chal-page-options-top-right a {
  margin-bottom: 5px;
}
.chal-page-options-top-right .dropdown-menu {
  background-color: transparent;
}

.chal-page-options a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #3d3137;
  text-decoration: none;
  width: 55px;
  height: 55px;
  padding: 0;
  margin-bottom: 5px;
  background-color: #ff4252;

  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
}

.chal-page-options span {
  line-height: 16px;
  color: white;
}

.chal-page-options a:hover {
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.35);
}

.chal-notice-box {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  padding: 15px;
  margin-bottom: 15px;
}

.chal-sign-form-box {
  margin-bottom: 15px;
}

.chal-sign-form-box .form-group:last-child {
  margin-bottom: 0px;
}

.chal-sign-form-box .actions {
  margin-bottom: 0px;
}

.chal-sign-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chal-sign-links a {
  flex: 1;
  font-size: 14px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.chal-sign-links a:hover {
  text-decoration: none;
}

.btn-login {
  color: #ffffff !important;
  padding: 5px;
  height: 50px;
  border: 1px solid #ff4252;
  border-radius: 0px;
  background-color: #ff4252;
  font-size: 16px;
  width: 100%;
  display:inline-block;
}

a:focus, button:focus {
  text-decoration: none;
  outline: 0;
  outline: none;
}


.sns-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #3b5998;
  border-radius: 5px;
  background: #3b5998;
  text-decoration: none;
}

.sns-login:hover {
  text-decoration: none;
}

.sns-login img {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
  margin-bottom: 5px;
  border-radius: 100%;
}

.sns-login span {
  color: white;
  width: 100%;
  text-align: center;
  margin-right: 35px;
}

.btn-chal-round {
  border-radius: 30px;
}

.tab-move {
  padding: 5px;
  height: 40px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-sticky-submit-container {
   width: 100vw;
   max-width: 670px;
   background-color: white;
   position: fixed;
   bottom: 0px;
   left: 0px;
   max-height: 50px;
 }

.chal-sticky-submit-button {

}

.chal-sticky-submit-button:hover {

}

.btn-outline-chal {
  color: #5f5f5f;
  background-image: none;
  background-color: transparent;
  border-color: rgba(0,0,0,.15);
}

.btn-outline-chal:focus {
  color: #5f5f5f;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-outline-chal.active {
  border: 1px solid #ff4252;
}

.chal-hr-box {
  width: 100%;
  height: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
}
.chal-hr-box span {
  font-size: 14px;
  color: #ff4252;
  background-color: #ffffff;
  padding-right: 10px;
}


@media (min-width: 576px) {
  .chal-sticky-submit-container {
    max-width: 510px;
    left: calc( 50vw - 255px );
  }
}

@media (min-width: 768px) {
  .chal-sticky-submit-container {
    max-width: 670px;
    left: calc( 50vw - 335px );
  }
}