.chal-messages-box {

}

.chal-messages-box .row {
  margin: 0px;
}
.chal-message-box .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chal-message-box .nav-link .chal-conversations-info-alarm span {
  margin: 0px;
}

.chal-messages-box .nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.chal-conversation-body {
  height: 40vh;
  max-height: 100px;
}


#chal-conversation-textarea {
  font-size: 22px;
  font-weight: 100;
}

#chal-conversation-textarea-counter {
  text-align: right;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0px;
}

.chal-conversations-unit {
  padding: 5px;
  width: 100%;
}
.chal-conversations-unit:hover {
  background-color: #fafafa;
}
.chal-conversations-unit a {
  text-decoration: none;
  color: black;
}

.chal-conversations-profile {

}

.chal-conversations-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chal-conversations-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 10px;
}
.chal-conversations-main span:first-child {
  display: block;
  font-size: 16px;
  font-weight: 400;
}
.chal-conversations-main span:last-child {
  font-size: 11px;
  color: grey;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}


.chal-conversations-info {

}
.chal-conversations-info .chal-conversations-info-time {
  display: block;
  font-size: 11px;
  color: grey;
}
.chal-conversations-info-alarm {
  display: flex;
  justify-content: flex-end;
}
.chal-conversations-info-alarm span {
  font-size: 9px;
  font-weight: 100;
  text-align: center;
  color: white;
  margin-top: 7px;
  padding: 3px 5px 2px 5px;
  background-color: #fc5c4f;
  border-radius: 40px;
}

.chal-messages {
  max-height: calc( 100vh );
  padding-top: 15px;
  padding-bottom: 50px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.chal-messages-row {
  max-width: 670px;
  margin: 0;
}

.chal-messages-row div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-messages-row div:first-child {
  padding: 0px;
}

.chal-messages-row div:last-child {
  padding: 0px;
}

#chal-messages-textarea-counter {
  font-size: 12px;
}

.chal-messages-body {
  margin-right: 60px;
  height: 45px;
  border-radius: 0px;
  border-right: none;
  border-bottom: none;
}

.chal-messages-submit-button {
  height: 45px;
  position: absolute;
  width: 60px;
  right: 0px;
  border-radius: 0px;
  color: #3d3137;
  box-shadow: none;
}

.chal-messages-unit {
  margin-bottom: 10px;
}

.chal-messages-unit-body {
  margin: 0px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  max-width: 70vw;
  word-wrap: break-word;
}

.chal-messages-unit-profile {
  margin-bottom: 10px;
}

.chal-messages-unit-profile p {
  margin: 0px 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.chal-messages-unit-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chal-messages-unit-message {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.chal-messages-unit-message-incoming {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.chal-messages-unit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 11px;
  min-width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.chal-messages-unit-info span:first-child {
  color: rgba(255, 212, 0, 0.7);
}
.chal-messages-unit-info span:last-child {
  color: grey;
}

.chal-messages-option-profile {
  margin-bottom: 0px;
}

.chal-messages-option-profile p {
  margin: 0px 5px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.chal-messages-option-profile img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  object-fit: cover;
}

.chal-outgoing-messages-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.chal-incoming-messages-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#chal-messages-textarea-sample {
  display: none;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin: 5px 15px 15px 30px;
  word-wrap: break-word;
}

#current-user-template {
  display: none;
}

#other-user-template {
  display: none;
}

@media (min-width: 576px) {
  .chal-conversation-body {
    max-height: 155px;
  }
  .chal-messages-row {
    max-width: 510px;
  }
}

@media (min-width: 768px) {
  .chal-conversation-body {
    max-height: 124px;
  }
  .chal-messages-row {
    max-width: 670px;
  }
}
