// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chal-sign-form-nav {
  background-color: #ffffff;
  padding: 0px;

}