// Place all the styles related to the friendss controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chal-friends-row {
  margin-left: 0px;
  margin-right: 0px;
}

.chal-friends-row .col-4 {
  padding: 5px;
}

.chal-friends-image {
  width: calc( 33vw - 20px );
  height: calc( 33vw - 20px );
  margin: 0 auto;
  max-width: 318px;
  max-height: 318px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.chal-matchings-row {
  margin-left: 0px;
  margin-right: 0px;
}

.chal-matchings-row .col-6 {
  padding: 5px;
}

.chal-matching-header {
  text-align: center;
  font-weight: 100;
  margin-bottom: 20px;
}

.chal-matching-image-container {
  width: calc( 50vw - 45px );
  height: calc( 50vw - 45px );
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #ff3366;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-matchings-image {
  width: calc( 50vw - 58px );
  height: calc( 50vw - 58px );
  border-radius: 50%;
  margin: auto;
  max-width: 318px;
  max-height: 318px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.chal-card-image {
  width: calc( 100vw - 32px );
  height: calc( 100vw - 32px );
  max-width: 670px;
  max-height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}


.chal-card {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  border-radius: 0;
  border: none;
}

.chal-card a {
  color: black;
  text-decoration: none;
}

.chal-card a:hover {
  color: black;
  text-decoration: none;
}

.chal-card a:visited {
  color: black;
  text-decoration: none;
}

.chal-card .chal-matching-profile-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  color: #565656;
}
.chal-card .chal-matching-profile-summary span:first-child {
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.chal-audio-container {
  padding: 15px;
}
.chal-audio-row {
  text-align: left;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.chal-audio-row a {
  font-size: 20px;
  line-height: 100%;
}
.chal-audio-row-question {
  color: #ff3366;
}
.chal-audio-button {
  height: 20px;
}

.chal-audio-player-box {
  width: 100%;
  margin: 10px 0px;
}
.chal-audio-player {
  width: 100%;
}
.chal-modal .modal-dialog {
  max-height: 99vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.chal-modal .modal-header {
  padding: 0px 0px 0px 10px;
  border: none;
}
.chal-modal .modal-header span {
  line-height: 23px;
  font-size: 18px;
}
.chal-modal .modal-header button {
  outline: none;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chal-modal .modal-header i {
  line-height: 40px;
  font-size: 36px;
  display: flex;
  align-items: center;
}
.chal-modal .modal-content {
  border-radius: 0px;
  border: none;
}
.chal-modal .modal-footer {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.chal-modal-a:focus {
  outline:none !important
}

.chal-matchings-button {
  width: 100%;
  color: white !important;
}

@media (min-width: 576px) {
  .chal-friends-image {
    max-width: 158px;
    max-height: 158px;
  }
  .chal-matching-image-container {
    max-width: 234px;
    max-height: 234px;
  }
  .chal-matchings-image {
    max-width: 220px;
    max-height: 220px;
  }
  .chal-card-image {
    max-width: 508px;
    max-height: 508px;
  }
}

@media (min-width: 768px) {
  .chal-friends-image {
    max-width: 211px;
    max-height: 211px;
  }
  .chal-matching-image-container {
    max-width: 323px;
    max-height: 323px;
  }
  .chal-matchings-image {
    max-width: 309px;
    max-height: 309px;
  }
  .chal-card-image {
    max-width: 668px;
    max-height: 668px;
  }
}

@media (min-width: 576px) {
  .chal-audio-player-box {
    margin-left: 0px !important;
  }
}