.sidenav-profile {

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidenav-menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.sidenav-menu a {
  width: 100%;
}
.sidenav-menu-unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px;
}
.sidenav-menu-unit i {
  font-size: 18px;
}

.sidenav a {
  padding: 0px;
  text-decoration: none;
  font-size: 15px;
  color: #292b2c;
  transition: 0.3s;

}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  padding: 0px;
  line-height: 40px;
  font-size: 36px;
  margin-left: 50px;
}

.user-nav-photo {
  width: 40vw;
  height: 40vw;
  max-width: 140px;
  max-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  border: 2px solid white;
  box-shadow: 0px 0px 1px #000000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.user-nav-photo img {
  flex: 1;
  width: calc( 40vw - 2px );
  height: calc( 40vw - 2px );
  max-width: 138px;
  max-height: 138px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.user-nav-nickname {
  margin-top: 5px;
}
.user-nav-nickname span {
  font-size: 20px;
  font-weight: 500;
}
.user-nav-options {

}
.user-nav-options a {
  border: 1px solid grey;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 30vw;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin: 0 5vw;
}

.chal-nav-icon {
  height: 40px;
}

@media (min-width: 576px) {
  .sidenav {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}
