.chal-paygate-nav {
  margin-bottom: 15px;
}
.chal-paygate-flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.chal-paygate-flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chal-paygate-container {
  height: 100%;
}

.chal-paygate-form {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chal-paygate-top {
}

.chal-paygate-form-options {
  display: flex;
  height: 20vh;
  max-height: 120px;
}

.chal-paygate-option {
  margin-top: .5rem;
}

