// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chal-profile-card {
  border: none;
  border-radius: 0;
}

.chal-carousel .carousel-inner {
  border-radius: 50%;
}

.chal-carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chal-profile-card-image-container {
  width: 75vw;
  height: 75vw;
  margin: 0 auto;
  max-width: 322px;
  max-height: 322px;
  border-radius: 50%;
  border: 2px solid #ff3366;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chal-profile-card-image {
  width: calc( 75vw - 10px );
  height: calc( 75vw - 10px );
  border-radius: 50%;
  margin: auto;
  max-width: 318px;
  max-height: 318px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.chal-carousel-indicators li {
  width: 30px;
  height: 30px;
}

.chal-profile-header {
  display: block;
  text-align: center;
  color: #ff4252;
  font-weight: 700;
  margin-bottom: 15px;
}
.chal-profile-card-block {
  padding-left: 0px;
  padding-right: 0px;
}
.chal-profile-card .chal-profile-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  color: #565656;
}
.chal-profile-card .chal-profile-summary span:first-child {
  font-size: 25px;
  font-weight: 600;
  color: black;
}
.chal-profile-hr {
  width: 100%;
}
.chal-profile-card-text {
  text-align: center;
}

