// Place all the styles related to the user_detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chal-radio-group {
  display: flex;
}

.chal-radio-group .custom-radio {
  flex: 1;
}

.main-img-preview {
  width: 25vw;
  height: 25vw;
  max-width: 180px;
  max-height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-img-preview-optional {
  display: block;
  text-align: center;
  width: 100%;
  color: grey;
}

.chal-upload-image {
  width: 25vw;
  height: 25vw;
  max-width: 180px;
  max-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
}

.chal-detail-submit-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  bottom: 15px;
}

.chal-detail-edit-submit-container {
  width: 100%;
  background-color: white;
}

.chal-conversations-modal .modal-dialog {
  height: 50vh;
  margin: 50vh auto 0 auto;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.chal-qna {
  margin: 0 auto;
}
.chal-qna-q span{

}
.chal-qna-a span{
  font-size: 13px;
}
.chal-toggle-options {
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.chal-toggle-options label {
  margin-bottom: 0px;
}
.chal-toggle-options .btn-outline-chal-round {
  border-radius: 50%;
  min-width: 50px !important;
  min-height: 50px !important;
  width: 50px !important;
  height: 50px !important;
  max-width: 50px !important;
  max-height: 50px !important;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  outline: none;
  box-shadow: none;
  transition: 0s;
  line-height: 100%;
}

.chal-multiselect {
  width: 100%;
}
.chal-multiselect button {
  width: 100%;

}
.chal-multiselect ul {
  width: 100%;
}
.chal-multiselect .input-group {
  margin: 0px;
  padding: 5px;
}

.chal-form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}
.chal-form-info {
  display: block;
  font-size: 12px;
}

label.btn.btn-outline-chal.btn-outline-chal-round.active {
  border: 1px solid #ff4252;
}

.chal-toggle-options i {
  font-size: 25px;
}

@media (min-width: 576px) {
  .chal-detail-submit-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .chal-detail-submit-container {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .main-img-preview {
    max-width: 140px;
    max-height: 140px;
  }

  .chal-upload-image {
    max-width: 140px;
    max-height: 140px;
  }
}