<p>안녕하세요.</p>
<p>[하와이안 커플] 의 비밀번호 변경 안내 메일입니다.</p>
<p>아래 링크를 클릭하시면 비밀번호를 바꾸실 수 있습니다.</p>
<p><%= link_to '비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>혹시 비밀번호 변경 요청을 하지 않으셨다면, 저희 [하와이안 커플] 운영팀으로 연락주시기 바랍니다.</p>
<p>감사합니다.</p>
