<div class="chal-sign-form-box">
  <div class="chal-hr-box">
    <span>
      프로필 사진
    </span>
  </div>
  <div class="form-group row">
    <% (1..3).each do |i| %>
        <div class="col-4">
          <a onclick="document.getElementById('picture-<%= i %>').click();">
            <div class="main-img-preview">
              <% if i==1 %>
                  <%= image_tag "#{@user_detail.pic1.url(:medium)}", class: "thumbnail img-preview-#{i} card-image-top chal-upload-image" %>
              <% elsif i==2 %>
                  <%= image_tag "#{@user_detail.pic2.url(:medium)}", class: "thumbnail img-preview-#{i} card-image-top chal-upload-image" %>
              <% elsif i==3 %>
                  <%= image_tag "#{@user_detail.pic3.url(:medium)}", class: "thumbnail img-preview-#{i} card-image-top chal-upload-image" %>
              <% end %>
            </div>
            <div class="input-group">
              <input type="file" style="display:none;" id="picture-<%= i %>" class="attachment_upload" name="user_detail[pic<%= i %>]">
            </div>
          </a>
        </div>
    <% end %>
  </div>

  <div class="chal-hr-box">
    <span>
      기본정보
    </span>
  </div>
  <div class="form-group row">
    <div class="col">
      <input class="form-control chal-form-control" name="user_detail[nickname]" type="text" value="<%= @user_detail.nickname %>" placeholder="닉네임">
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <input class="form-control chal-form-control" name="user_detail[job]" type="text"  value="<%= @user_detail.job %>" required placeholder="직업">
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[home]">
        <%= @locations.each do |location| %>
            <option value="<%= location %>" <%= @user_detail.home==location ? 'selected' : '' %>><%= location %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[age]">
        <option disabled selected value="">나이</option>
        <%= (20..99).each do |age| %>
            <option value="<%= age %>" <%= @user_detail.age==age ? 'selected' : '' %>><%= age %>살</option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[height]">
        <option disabled selected value="">키</option>
        <option value="140">140cm 이하</option>
        <%= (141..199).each do |height| %>
            <option value="<%= height %>" <%= @user_detail.height==height ? 'selected' : '' %>><%= height %>cm</option>
        <% end %>
        <option value="200">200cm 이상</option>
      </select>
    </div>
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[weight]">
        <option disabled selected value="">체형</option>
        <%= @weights.each do |weight| %>
            <option value="<%= weight %>" <%= @user_detail.weight==weight ? 'selected' : '' %>><%= weight %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[character]">
        <option disabled selected value="">성격</option>
        <%= @characters.each do |option| %>
            <option value="<%= option %>" <%= @user_detail.character==option ? 'selected' : '' %>><%= option %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[style]">
        <option disabled selected value="">스타일</option>
        <%= @styles.each do |option| %>
            <option value="<%= option %>" <%= @user_detail.style==option ? 'selected' : '' %>><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[smoke]">
        <option disabled selected value="">흡연여부</option>
        <%= @smokes.each do |option| %>
            <option value="<%= option %>" <%= @user_detail.smoke==option ? 'selected' : '' %>><%= option %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[drink]">
        <option disabled selected value="">주량</option>
        <%= @drinks.each do |option| %>
            <option value="<%= option %>" <%= @user_detail.drink==option ? 'selected' : '' %>><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[religion]">
        <option disabled selected value="">종교여부</option>
        <%= @religions.each do |option| %>
            <option value="<%= option %>" <%= @user_detail.religion==option ? 'selected' : '' %>><%= option %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <select class="form-control chal-form-control" name="user_detail[blood]">
        <option disabled selected value="">혈액형</option>
        <%= @bloods.each do |option| %>
            <option value="<%= option %>" <%= @user_detail.blood==option ? 'selected' : '' %>><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
<div class="chal-sign-form-box">
  <div class="chal-hr-box">
    <span>
      관심사와 취미
    </span>
  </div>
  <div class="form-group row">
    <div class="col hawai-toggle-options" id="interest-options" data-toggle="buttons">
      <% @user_detail.interest.split('["')[1].split('"]')[0].split('", "').each do |interest| %>
          <label class="btn btn-outline-chal btn-outline-hawai-options focus active" aria-pressed="true">
            <input type="checkbox" name="user_detail[interest][]" value="<%= interest %>" autocomplete="off"> <%= interest %>
          </label>
      <% end if @user_detail.interest.present? %>
      <a href="#" class="hawai-options-plus-button" data-toggle="modal" data-target="#modal-interest"><%= image_tag('plus_button.png') %></a>
    </div>
  </div>

  <div class="chal-hr-box">
    <span>
      나의 매력요소
    </span>
  </div>
  <div class="form-group row">
    <div class="col hawai-toggle-options" id="attraction-options" data-toggle="buttons">
      <% @user_detail.attraction.split('["')[1].split('"]')[0].split('", "').each do |attraction| %>
          <label class="btn btn-outline-chal btn-outline-hawai-options focus active" aria-pressed="true">
            <input type="checkbox" name="user_detail[attraction][]" value="<%= attraction %>" autocomplete="off"> <%= attraction %>
          </label>
      <% end if @user_detail.attraction.present? %>
      <a href="#" class="hawai-options-plus-button" data-toggle="modal" data-target="#modal-attraction"><%= image_tag('plus_button.png') %></a>
    </div>
  </div>

</div>

<div class="chal-sign-form-box">


  <div class="modal chal-modal" id="modal-interest" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title" id="exampleModalLabel">관심사와취미 추가</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon ion-ios-close-empty"></i>
          </button>
        </div>
        <div class="modal-body">
          <input class="hawai-options-plus-input form-control chal-form-control" type="text" id="add-interest-text" placeholder="새로 추가하기">
        </div>
        <div class="modal-footer">
          <a onclick="addInterest();" id="add-interest" class="btn btn-login d-flex justify-content-center align-items-center">추가</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal chal-modal" id="modal-attraction" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title" id="exampleModalLabel">매력요소 추가</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon ion-ios-close-empty"></i>
          </button>
        </div>
        <div class="modal-body">
          <input class="hawai-options-plus-input form-control chal-form-control" type="text" id="add-attraction-text" placeholder="새로 추가하기">
        </div>
        <div class="modal-footer">
          <a onclick="addAttraction();" id="add-attraction" class="btn btn-login d-flex justify-content-center align-items-center">추가</a>
        </div>
      </div>
    </div>
  </div>

</div>



<script type="text/javascript" charset="utf-8">
  $('#modal-interest').on('show.bs.modal', function () {
    window.setTimeout(function(){
      $('#add-interest-text').focus();
    }, 0500);
  });

  function addInterest() {
    text = $('#add-interest-text').val();
    if (text.trim() == '') {
      return false
    }
    $('#interest-options').prepend("<label class='btn btn-outline-chal btn-outline-hawai-options active' aria-pressed='true'><input type='checkbox' name='user_detail[interest][]' value='" + text + "' autocomplete='off'>" + text + "</label>");
    $('#add-interest-text').val('');
    $('#modal-interest').modal('hide');
  }

  $('#modal-attraction').on('show.bs.modal', function () {
    window.setTimeout(function(){
      $('#add-attraction-text').focus();
    }, 0500);
  });

  function addAttraction() {
    text = $('#add-attraction-text').val();
    if (text.trim() == '') {
      return false
    }
    $('#attraction-options').prepend("<label class='btn btn-outline-chal btn-outline-hawai-options active' aria-pressed='true'><input type='checkbox' name='user_detail[attraction][]' value='" + text + "' autocomplete='off'>" + text + "</label>");
    $('#add-attraction-text').val('');
    $('#modal-attraction').modal('hide');
  }
</script>