<div class="chal-sign-form-box">
  <p class="chal-matching-header">프로필을 모두 작성해주세요</p>

  <div class="chal-hr-box">
    <span>
      프로필 사진
    </span>
  </div>
  <div class="form-group row">
    <% (1..3).each do |i| %>
        <div class="col-4">
          <a onclick="document.getElementById('picture-<%= i %>').click();">
            <div class="main-img-preview">
              <%= image_tag "upload.png", class: "thumbnail img-preview-#{i} card-image-top chal-upload-image" %>
            </div>
            <div class="input-group">
              <input type="file" style="display:none;" id="picture-<%= i %>" class="attachment_upload chal-required-tab1" name="user_detail[pic<%= i %>]">
            </div>
          </a>
          <span class="main-img-preview-optional"><%= i==1 ? '메인' : '필수' %></span>
        </div>
    <% end %>
  </div>
  <div class="form-group row">
    <% (4..6).each do |i| %>
        <div class="col-4">
          <a onclick="document.getElementById('picture-<%= i %>').click();">
            <div class="main-img-preview">
              <%= image_tag "upload.png", class: "thumbnail img-preview-#{i} card-image-top chal-upload-image" %>
            </div>
            <div class="input-group">
              <input type="file" style="display:none;" id="picture-<%= i %>" class="attachment_upload" name="user_detail[pic<%= i %>]">
            </div>
          </a>
          <span class="main-img-preview-optional">선택</span>
        </div>
    <% end %>
  </div>
</div>

<div class="row chal-detail-submit-container">
  <div class="col">
  </div>
  <div class="col">
    <a class="btn btn-login tab-move tab2 validate-tab1">다음</a>
  </div>
</div>
