<div class="chal-sign-form-box">
  <div class="chal-hr-box">
    <span>
      관심사와 취미
    </span>
  </div>
  <div class="form-group row">
    <div class="col hawai-toggle-options" id="interest-options" data-toggle="buttons">
      <% @interests.each do |interest| %>
          <label class="btn btn-outline-chal btn-outline-hawai-options">
            <input type="checkbox" name="user_detail[interest][]" value="<%= interest %>" autocomplete="off"> <%= interest %>
          </label>
      <% end %>
      <a href="#" class="hawai-options-plus-button" data-toggle="modal" data-target="#modal-interest"><%= image_tag('plus_button.png') %></a>
    </div>
  </div>
  <div class="chal-hr-box">
    <span>
      나의 매력요소
    </span>
  </div>
  <div class="form-group row">
    <div class="col hawai-toggle-options" id="attraction-options" data-toggle="buttons">
      <% @attractions.each do |attraction| %>
          <label class="btn btn-outline-chal btn-outline-hawai-options">
            <input type="checkbox" name="user_detail[attraction][]" value="<%= attraction %>" autocomplete="off"> <%= attraction %>
          </label>
      <% end %>
      <a href="#" class="hawai-options-plus-button" data-toggle="modal" data-target="#modal-attraction"><%= image_tag('plus_button.png') %></a>
    </div>
  </div>
  <div class="modal chal-modal" id="modal-interest" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title" id="exampleModalLabel">관심사와취미 추가</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon ion-ios-close-empty"></i>
          </button>
        </div>
        <div class="modal-body">
          <input class="hawai-options-plus-input form-control chal-form-control" type="text" id="add-interest-text" placeholder="새로 추가하기">
        </div>
        <div class="modal-footer">
          <a onclick="addInterest();" id="add-interest" class="btn btn-login d-flex justify-content-center align-items-center">추가</a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal chal-modal" id="modal-attraction" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title" id="exampleModalLabel">매력요소 추가</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="icon ion-ios-close-empty"></i>
          </button>
        </div>
        <div class="modal-body">
          <input class="hawai-options-plus-input form-control chal-form-control" type="text" id="add-attraction-text" placeholder="새로 추가하기">
        </div>
        <div class="modal-footer">
          <a onclick="addAttraction();" id="add-attraction" class="btn btn-login d-flex justify-content-center align-items-center">추가</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row chal-detail-submit-container">
  <div class="col">
    <a class="btn btn-login tab-move tab2" style="border: 1px solid #8c6262; background-color: #8c6262;">이전</a>
  </div>
  <div class="col">
    <a class="btn btn-login tab-move tab4">다음</a>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $('#modal-interest').on('show.bs.modal', function () {
    window.setTimeout(function(){
      $('#add-interest-text').focus();
    }, 0500);
  });

  function addInterest() {
    text = $('#add-interest-text').val();
    if (text.trim() == '') {
      return false
    }
    $('#interest-options').prepend("<label class='btn btn-outline-chal btn-outline-hawai-options active' aria-pressed='true'><input type='checkbox' name='user_detail[interest][]' value='" + text + "' autocomplete='off'>" + text + "</label>");
    $('#add-interest-text').val('');
    $('#modal-interest').modal('hide');
  }

  $('#modal-attraction').on('show.bs.modal', function () {
    window.setTimeout(function(){
      $('#add-attraction-text').focus();
    }, 0500);
  });

  function addAttraction() {
    text = $('#add-attraction-text').val();
    if (text.trim() == '') {
      return false
    }
    $('#attraction-options').prepend("<label class='btn btn-outline-chal btn-outline-hawai-options active' aria-pressed='true'><input type='checkbox' name='user_detail[attraction][]' value='" + text + "' autocomplete='off'>" + text + "</label>");
    $('#add-attraction-text').val('');
    $('#modal-attraction').modal('hide');
  }
</script>