<div class="chal-sign-form-box">
  <div class="chal-hr-box">
    <span>
      기본정보
    </span>
  </div>
  <div class="form-group row">
    <div class="col d-flex flex-column justify-content-end">
      <span class="chal-form-info">닉네임</span>
      <input class="form-control chal-form-control chal-required-tab2" style="height: 37px;" name="user_detail[nickname]" type="text" required>
    </div>
    <div class="col chal-toggle-options" data-toggle="buttons">
      <label class="btn btn-outline-chal btn-outline-chal-round w-100">
        <input class="chal-radios-tab2" type="radio" name="user_detail[gender]" id="option-M" autocomplete="off" value="M" required><i class="icon ion-man"></i>
      </label>
      <label class="btn btn-outline-chal btn-outline-chal-round w-100">
        <input class="chal-radios-tab2" type="radio" name="user_detail[gender]" id="option-F" autocomplete="off" value="F" required><i class="icon ion-woman"></i>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <span class="chal-form-info">직업</span>
      <input class="form-control chal-form-control chal-required-tab2" name="user_detail[job]" type="text" required>
    </div>
    <div class="col">
      <span class="chal-form-info">나이</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[age]" required>
        <option disabled selected value=""></option>
        <% (20..99).each do |age| %>
            <option value="<%= age %>"><%= age %>살</option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <span class="chal-form-info">거주지</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[home]" required>
        <option disabled selected value=""></option>
        <% @locations.each do |location| %>
            <option value="<%= location %>"><%= location %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <span class="chal-form-info">키</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[height]" required>
        <option disabled selected value=""></option>
        <option value="140">140cm 이하</option>
        <% (141..199).each do |height| %>
            <option value="<%= height %>"><%= height %>cm</option>
        <% end %>
        <option value="200">200cm 이상</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <span class="chal-form-info">체형</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[weight]" required>
        <option disabled selected value=""></option>
        <% @weights.each do |weight| %>
            <option value="<%= weight %>"><%= weight %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <span class="chal-form-info">혈액형</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[blood]" required>
        <option disabled selected value=""></option>
        <% @bloods.each do |option| %>
            <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <span class="chal-form-info">성격</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[character]" required>
        <option disabled selected value=""></option>
        <% @characters.each do |option| %>
            <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <span class="chal-form-info">스타일</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[style]" required>
        <option disabled selected value=""></option>
        <% @styles.each do |option| %>
            <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <span class="chal-form-info">종교</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[religion]" required>
        <option disabled selected value=""></option>
        <% @religions.each do |option| %>
            <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <span class="chal-form-info">흡연여부</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[smoke]" required>
        <option disabled selected value=""></option>
        <% @smokes.each do |option| %>
            <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
    <div class="col">
      <span class="chal-form-info">주량</span>
      <select class="form-control chal-form-control chal-required-tab2" name="user_detail[drink]" required>
        <option disabled selected value=""></option>
        <% @drinks.each do |option| %>
            <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>
<div class="row chal-detail-submit-container">
  <div class="col">
    <a class="btn btn-login tab-move tab1" style="border: 1px solid #8c6262; background-color: #8c6262;">이전</a>
  </div>
  <div class="col">
    <a class="btn btn-login tab-move tab3">다음</a>
  </div>
</div>
