<div class="chal-sign-form-box">
  <div class="chal-hr-box">
    <span>
      내가 이성에게 들려주고 싶은 질문 선택하기
    </span>
  </div>
  <% (1..3).each do |i| %>
      <div class="form-group row">
        <div class="col">
          <select class="form-control chal-form-control chal-required-tab4" name="user_detail[question<%= i %>]" id="chal-user-question-<%= i %>" required>
            <option disabled selected value="">질문선택하기</option>
            <% @questions.each do |question| %>
                <option value="<%= question %>"><%= question %></option>
            <% end %>
          </select>
        </div>
      </div>
  <% end %>
</div>

<div class="row chal-detail-submit-container">
  <div class="col" id="before-submit-1">
    <a class="btn btn-login tab-move tab3" style="border: 1px solid #8c6262; background-color: #8c6262;">이전</a>
  </div>
  <div class="col">
    <a id="before-submit-2" class="btn btn-login tab-move" onclick="submitForm()">다음</a>
    <button id="submit" type="submit" class="btn btn-login tab-move" style="display:none;">가입하기</button>
  </div>
</div>

<div class="full-box chal-flex-row-center" id="spinnerBox">
  <div class="loading-image">
    <%= image_tag('spinner.gif') %>
  </div>
</div>

<style>
  .full-box {
    width: 100vw;
    height: 100vh;
  }

  #spinnerBox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
  }

  .chal-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

</style>

<script>
  function submitForm() {
    if (validateTab('4', false)) {
      $('#before-submit-1').hide();
      $('#before-submit-2').hide();
      $('#submit').show();
    } else {
      toastr.error('질문 3가지를 모두 선택해야 합니다.','',{ 'positionClass': 'toast-bottom-right', 'timeOut': '1000' });
    }
  }

  function spinnerOn() {
    document.getElementById("spinnerBox").style.display = "flex";
  }
</script>
