<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">Search</label>
  <div class="col-10">
    <input name="user_detail[interest]" class="form-control" type="search" value="How do I shoot web" id="example-search-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">Search</label>
  <div class="col-10">
    <input name="user_detail[attraction]" class="form-control" type="search" value="How do I shoot web" id="example-search-input">
  </div>
</div>