<div class="form-group row">
  <div class="col">
    <input class="form-control" name="user_detail[nickname]" type="text" placeholder="닉네임">
  </div>
</div>
<div class="form-group row">
  <div class="col chal-radio-group">
    <label class="custom-control custom-radio">
      <input id="radio1" name="user_detail[gender]" value="M" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">남자</span>
    </label>
    <label class="custom-control custom-radio">
      <input id="radio2" name="user_detail[gender]" value="F" type="radio" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">여자</span>
    </label>
  </div>
</div>
<div class="form-group row">
  <div class="col">
    <select class="form-control" name="user_detail[age]">
      <option selected>나이</option>
      <%= (20..99).each do |age| %>
          <option value="<%= age %>"><%= age %>살</option>
      <% end %>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="col">
    <select class="form-control" name="user_detail[height]">
      <option selected>키</option>
      <option value="140">140cm 이하</option>
      <%= (141..199).each do |height| %>
          <option value="<%= height %>"><%= height %>cm</option>
      <% end %>
      <option value="200">200cm 이상</option>
    </select>
  </div>
</div>
<div class="form-group row">
  <div class="col">
    <select class="form-control" name="user_detail[home]">
      <option selected>거주지</option>
      <%= @locations.each do |location| %>
          <option value="<%= location %>"><%= location %></option>
      <% end %>
    </select>
  </div>
</div>