<%= form_for(@user_detail, :html => { :multipart => true }) do |f| %>
    <%= render "user_details/steps/edit" %>
    <hr>
    <button id="submit" type="submit" class="btn btn-login" onclick="spinnerOn()">수정 후 재심사 요청</button>
<% end %>

<div class="full-box chal-flex-row-center" id="spinnerBox">
  <div class="loading-image">
    <%= image_tag('spinner.gif') %>
  </div>
</div>

<style>
  .full-box {
    width: 100vw;
    height: 100vh;
  }

  #spinnerBox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(146, 146, 146, 0.5);
  }

  .chal-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

</style>

<script>
  function spinnerOn() {
    document.getElementById("spinnerBox").style.display = "flex";
  }
</script>
