<%= render :partial => 'layouts/home_header' %>
<div class="hawaian-header-body">
  <form action="/user_details" method="POST" id="hawaian-signup-form" enctype="multipart/form-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-bottom: 55px;">
      <div class="tab-pane active" id="page1" role="tabpanel">
        <%= render "user_details/steps/page1" %>
      </div>
      <div class="tab-pane" id="page2" role="tabpanel">
        <%= render "user_details/steps/page2" %>
      </div>
      <div class="tab-pane" id="page3" role="tabpanel">
        <%= render "user_details/steps/page3" %>
      </div>
      <div class="tab-pane" id="page4" role="tabpanel">
        <%= render "user_details/steps/page4" %>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" charset="utf-8">
  $('.tab1').click(function () {
    hideTabs();
    $('#page1').tab('show');
    $('.progress-bar').css("width", "25%");
  });
  $('.tab2').click(function () {
    if (validateTab('1', false)) {
      hideTabs();
      $('#page2').tab('show');
      $('.progress-bar').css("width", "50%");
      partialSubmit();
    } else {
      toastr.error('회원님의 프로필 사진을 적어도 3장 이상 업로드 해주셔야 가입이 가능합니다.', '', {
        'positionClass': 'toast-bottom-right',
        'timeOut': '1000'
      });
    }
  });
  $('.tab3').click(function () {
    if (validateTab('2', true)) {
      hideTabs();
      $('#page3').tab('show');
      $('.progress-bar').css("width", "75%");
    } else {
      toastr.error('기본정보가 일부 입력되지 않았습니다.', '', {'positionClass': 'toast-bottom-right', 'timeOut': '1000'});
    }

  });
  $('.tab4').click(function () {
    hideTabs();
    $('#page4').tab('show');
    $('.progress-bar').css("width", "99%");
  });

  function validateTab(targetTab, hasRadio) {
    x = document.getElementsByClassName("chal-required-tab" + targetTab);
    var i;
    for (i = 0; i < x.length; i++) {
      if (x[i].value == "") {
        return false
      }
    }
    if (hasRadio) {
      var radios = document.getElementsByClassName("chal-radios-tab" + targetTab);
      if (validateRadio(radios) == false) {
        return false
      }
    }
    return true
  }

  function validateRadio(radios) {
    var i;
    for (i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        return true
      }
    }
    return false
  }

  function partialSubmit() {
    var form = $('#hawaian-signup-form')[0];
    var data = new FormData(form);

    $.ajax({
      url: "/user_details/image_upload",
      processData: false,  // Important!
      contentType: false,
      cache: false,
      type: "POST",
      data: data
    });
  }

  function hideTabs() {
    for (i = 1; i < 5; i++) {
      $('#page' + i).removeClass('active');
    }
  }

</script>

