<nav class="navbar chal-navbar fixed-top navbar-toggleable-md navbar-light bg-white">
  <div class="row chal-top-nav">
    <div class="col nav-item chal-nav-item">
      <a class="nav-link" href="/">인연찾기</a>
    </div>
    <div class="col nav-item chal-nav-item">
      <a class="nav-link" href="/friends">나의인연</a>
    </div>
    <div class="col nav-item chal-nav-item">
      <a class="nav-link" href="/conversations">대화중
        <% if current_user.unread_inbox_count > 0 %>
            <div class="chal-top-nav-new-message"><span>new</span></div>
        <% end %>
      </a>
    </div>
    <div class="col nav-item chal-nav-item">
      <a class="nav-link" href="/record">인터뷰</a>
    </div>
  </div>
</nav>

