<div class="fixed-top">
  <nav class="navbar navbar-toggleable-md navbar-light chal-sign-form-nav">
    <div class="chal-top-nav">
      <div class="nav-item chal-nav-center">
        <% if back_button %>
            <a onclick="history.back(-1)" class="d-flex justify-content-center align-items-center" style="position: absolute; left: 0px; cursor: pointer; height: 100%; width: 40px;"><%= image_tag('go_back.png', style: 'height: 15px;') %></a>
        <% end %>
        <span><%= where_we_are %></span>
      </div>
    </div>
  </nav>
  <div class="progress">
    <div class="progress-bar pg-hawaian" role="progressbar" style="width: <%= progress_bar %>%; height: 1px;" aria-valuenow="<%= progress_bar %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
