<nav class="navbar chal-navbar fixed-top navbar-toggleable-md navbar-light bg-white">
  <div class="row chal-top-nav">
    <div class="nav-item chal-nav-left chal-navbar-toggle">
      <button type="button" onclick="openNav()">
        <i class="icon ion-navicon" aria-hidden="true"></i>
      </button>
    </div>
    <div class="nav-item chal-nav-right">
      <a class="nav-link" href="/api/purchase/call" data-turbolinks="false"><%= current_user.wallet.coin %>P</a>
    </div>
  </div>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="icon ion-ios-close-empty"></i></a>

    <div class="sidenav-profile">
      <%= render 'components/user_nav_profile', user: current_user %>
    </div>
    <hr style="margin: 0px;">
    <div class="sidenav-menu">
      <%= render partial: 'layouts/user_nav_options' %>
    </div>
  </div>
</nav>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.display = "block";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.display = "none";
  }
</script>