<a href="/record">
  <div class="sidenav-menu-unit">
    <span>인터뷰신청</span>
    <i class="icon ion-log-out"></i>
  </div>
</a>
<%= link_to edit_user_detail_path(current_user), :data => {turbolinks: false} do %>
    <div class="sidenav-menu-unit">
      <span>프로필수정</span>
      <i class="icon ion-log-out"></i>
    </div>
<% end %>

<%= link_to destroy_user_session_path, method: :delete, :data => {:confirm => '정말 로그아웃 하시겠어요 ?'} do %>
    <div class="sidenav-menu-unit">
      로그아웃
      <i class="icon ion-log-out"></i>
    </div>
<% end %>
