<!DOCTYPE html>
<html>
  <head>
    <title>하와이안 커플</title>
    <meta name="author" content="에이다소프트" />
    <meta name="title" content="하와이안 커플" />
    <meta name="description" content="라이브 인터뷰를 기반으로 이성과 매칭되는 소개팅 앱, 하와이안 커플 입니다." />
    <meta name="keywords" content="소개팅앱, 데이팅앱, 음성기반앱" />
    <meta name="description" content="코미디의 역사를 소개하는 글" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
          <%= render partial: 'layouts/header' %>
      <% end %>
    </header>
      <main class="container">
        <%= flash_toastr %>
        <%= yield %>
      </main>
      <%= yield :action_js %>
  </body>
</html>
