<!DOCTYPE html>
<html>
<head>
  <title>하와이안 커플</title>
  <meta name="author" content="에이다소프트" />
  <meta name="title" content="하와이안 커플" />
  <meta name="description" content="라이브 인터뷰를 기반으로 이성과 매칭되는 소개팅 앱, 하와이안 커플 입니다." />
  <meta name="keywords" content="소개팅앱, 데이팅앱, 음성기반앱" />
  <meta name="description" content="코미디의 역사를 소개하는 글" />
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks': false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
</head>

<body>
<main class="container">
  <div class="chal-body d-flex flex-column justify-content-center">
    <%= flash_toastr %>
    <%= yield %>
  </div>
</main>
</body>
</html>
